{% extends "base.html" %}
{% load static %}
{% block content %}
    <div dir="rtl">
        <div class="section no-pad-bot cyan" id="index-banner">
            {#             style="background-image: url({% static "images/N3665362-6811807.jpg" %})"#}
            <div class="center">
                <br><br>
                <h1 class="header center white-text">
                    <span class="">به من چه به تو چه <span class="red-text">ممنوع</span>!</span>
                    ️</h1>
                <div class="row center">
                    <h5 class="header center white-text">
                        <span class="">به سامانه جامع سوت زنی خوش آمدید</span>
                    </h5>
                </div>
                <div class="row center">
                    <a href="/new" id="download-button"
                       class="btn-large waves-effect waves-light orange">ارسال گزارش فساد</a>
                    <a href="/status" id="download-button"
                       class="btn-large waves-effect waves-light cyan">پیگیری گزارش</a>
                </div>
                <br><br>

            </div>
        </div>


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row section card">
                    <h4 class="header center orange-text">چرا باید فساد را افشا کنیم؟️</h4>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <div class="icon">
                                <i class="fi flaticon-prison"></i>
                            </div>
                            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">حمایت قانونی و دریافت جایزه</h5>
                            <p class="light">در ایران قوانینی وجود دارد که مطابق آن بر اساس فساد های صورت گرفته مبلغی را
                                به عنوان پاداش به سوت زنان پرداخت می کنند که این خود پشتوانه ی محکمی برای سوت زنان می
                                باشد
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>

                            <h5 class="center">جلوگیری از هدر رفتن ثروت ملی</h5>

                            <p class="light">تا هرچقدر میزان که از فساد و بودجه خواری جلوگیری شود قطعا این مالی که حفظ
                                شده می توان در جای بهتری که به نفع مردم باشد هزینه شود و سوت زن ها در این مسیر بسیار
                                تاثیر گذار هستن.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">مسئولیت پذیری ملی</h5>

                            <p class="light">در جامعه ای که مردم با یکدیگر زندگی می کنند قطعا هر فرد به گردن خود
                                مسئولیتی ملی دارد و در صورتی که مسئولیت خود را به درستی ایفا نکند خود جزو اولین نفر هایی
                                است که آسیبش را می بیند.</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>
{% endblock content %}
