{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row section center cyan-text container">
        <div class="card section">
            <h4>به من چه به تو چه ممنوع!️</h4>
            <h5>سامانه جامع سوت زنی</h5>
        </div>
        <div class="">
            <form class="container" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LcX_OIUAAAAAI2cRt2Ynfkg-oK6WGu0RCex62Yp"></div>
                {% if messages %}
                    <ul class="messages red-text">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button class="btn waves-effect waves-light cyan" type="submit" name="action">بفرست
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock content %}